<mat-grid-list cols="2" rowHeight="2:1">
  <mat-error *ngIf="error">
    {{error}}
  </mat-error>

  <mat-grid-tile *ngFor="let meeting of meetings">
    <mat-card>
      <mat-card-content>
        <h3>
          {{meeting.date | date}}
        </h3>

        <ng-container *ngIf="meeting.physicalAddress">
          <mat-card>
            Lieu du rendez-vous :<br/>
            {{meeting.physicalAddress}}
            <small>
              <a mat-flat-button [href]="'https://maps.google.com/?q=' + meeting.physicalAddress" target="_blank">(voir sur google map)</a>
            </small>
          </mat-card>
        </ng-container>

        <ng-container *ngIf="meeting.jitsiMeetToken">
          <mat-card>
            Rejoindre la salle virtuelle
          </mat-card>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-create-meeting-tile [evenementId]="evenementId">
    </app-create-meeting-tile>
  </mat-grid-tile>

</mat-grid-list>